body {
  background-image: url(./images/bg3_image.jpg);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #e1ad01;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}

h2 {
  color: #D0312D;
  text-align: center;
  font-weight: bolder;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}
.timer__start-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid orangered;
  background-color: #e1ad01;
  font-size: 25px;
  color: whitesmoke;
  font-weight: bolder;
}
.timer__heading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: #e1ad01;
  font-weight: bolder;
}

.target {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
}
.target__img {
  animation: svg-target-scroll 2s;
  animation-iteration-count: 1000;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: relative;
  bottom: 600px;
}

@keyframes svg-target-scroll {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(450%);
  }
}
svg #circle {
  color: #610C04;
}
svg #path1 {
  color: #811a1a;
}
svg #path2 {
  color: #995d5d;
}
svg #path3 {
  color: #e21818;
}
svg #polygon {
  color: #60100B;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  cursor: pointer;
  font-weight: bolder;
}
.button__ok-button {
  width: 100px;
  height: 80px;
  font-size: 30px;
  background-color: #e1ad01;
  color: whitesmoke;
  border: 5px solid orangered;
  border-radius: 20%;
  box-sizing: border-box;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button__nok-button {
  width: 100px;
  height: 80px;
  font-size: 30px;
  background-color: #e21818;
  color: white;
  border: 5px solid #e21818;
  box-sizing: border-box;
  border-radius: 20%;
}
.button__ok-button:hover, .button__nok-button:hover {
  background-color: sandybrown;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 #e21818;
}

.game-score {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: max-content;
  position: relative;
}
.game-score .game-score__button {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid orangered;
  background-color: #e1ad01;
  font-size: 40px;
  color: whitesmoke;
  font-weight: bolder;
}

#final {
  display: none;
  border: 5px solid orangered;
  border-radius: 20%;
  font-weight: bold;
  font-size: 50px;
  color: #e1ad01;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: orangered;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}