body {
  background-image: url(./images/bg3_image.jpg);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #e1ad01;
  text-align: center;
  font-weight: bolder;
}

h2 {
  color: #D0312D;
  text-align: center;
  font-weight: bolder;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}
.timer__start-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid orangered;
  background-color: #e1ad01;
  font-size: 25px;
  color: orangered;
  font-weight: bolder;
}
.timer__heading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: #e1ad01;
  font-weight: bolder;
}

.target {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
}
.target__img {
  animation: svg-target-scroll 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
  bottom: 600px;
}

@keyframes svg-target-scroll {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(400%);
  }
}
svg #circle {
  color: #610C04;
}
svg #path1 {
  color: #811a1a;
}
svg #path2 {
  color: #995d5d;
}
svg #path3 {
  color: #e21818;
}
svg #polygon {
  color: #60100B;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  cursor: pointer;
  font-weight: bolder;
}
.button__ok-button {
  width: 100px;
  height: 80px;
  font-size: 30px;
  background-color: #e1ad01;
  color: whitesmoke;
  border: 2px solid orangered;
  border-radius: 20%;
}
.button__nok-button {
  width: 100px;
  height: 80px;
  font-size: 30px;
  background-color: #e21818;
  color: white;
  border: 2px solid #e21818;
  border-radius: 20%;
}
.button__ok-button:hover, .button__nok-button:hover {
  background-color: sandybrown;
}

.game-score {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: max-content;
  position: relative;
}
.game-score .game-score__button {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid orangered;
  background-color: #e1ad01;
  font-size: 40px;
  color: orangered;
  font-weight: bolder;
}
.game-score__heading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  color: #e1ad01;
  font-weight: bolder;
  text-align: justify;
  align-self: center;
}

#final {
  display: none;
  border: 5px solid orangered;
  border-radius: 20%;
  font-weight: bold;
  font-size: 50px;
  color: #e1ad01;
  text-align: center;
}