
body{
    // background-image: url(./images/dark-background-overlap-layer-with-star-light-vector.jpg);
    background-image: url(./images/bg3_image.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  h1 {
      color: #e1ad01;
      text-align: center;
      font-weight: bolder;
  }

  h2 {
    color: #D0312D;
    text-align: center;
    font-weight: bolder;
}

.timer {


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:max-content;

    &__start-button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid orangered;
        background-color: #e1ad01;
        font-size: 25px;
        color: orangered;
        font-weight: bolder;

    }

    &__heading    {

        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 30px;
        color: #e1ad01;
        font-weight: bolder;

    }
    
}



.target {
 
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    

    &__img {
        animation: svg-target-scroll 3s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        position: relative;
        bottom: 600px;
    }

    
}

// This animation does not suite the game

// @keyframes svg-target-scroll {
//     0%   {top: 0px; left: 0px; background: red;}
//     25%  {top: 0px; left: 100px; background: blue;}
//     50%  {top: 100px; left: 100px; background: red;}
//     75%  {top: 100px; left: 0px; background: blue;}
//     100% {top: 0px; left: 0px; background: red;}
//   }

// This will make the image scroll vertically and disppear for a while

@keyframes svg-target-scroll {
    from {
      transform: translateY(10%);
    }
    to {
      transform: translateY(450%);
    }
  }

svg {
    #circle {
        color: #610C04;
    }

    #path1 {
        color: rgb(129, 26, 26);
    }

    #path2 {
        color: rgb(153, 93, 93);
    }

    #path3 {
        color: rgb(226, 24, 24);
    }

    #polygon {
        color: #60100B;

    }
}

.button {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    cursor: pointer;
   
    
    
    font-weight: bolder;
  
  
    &__ok-button {

    width: 100px;
    height: 80px;   
    font-size: 30px;
    background-color: #e1ad01 ;
    color: whitesmoke;
    border: 2px solid orangered;
    border-radius: 20%;
  
    }



    &__nok-button {

        width: 100px;
        height: 80px;   
        font-size: 30px;
        background-color: rgb(226, 24, 24) ;
        color: white;
        border: 2px solid rgb(226, 24, 24);
        border-radius: 20%;
      
        }

        &__ok-button:hover, &__nok-button:hover {
            background-color: sandybrown;
        }
  }

  .game-score {

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width:max-content;
    position: relative;


  

  .game-score__button {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid orangered;
      background-color: #e1ad01;
      font-size: 40px;
      color: orangered;
      font-weight: bolder;

  }

  &__heading    {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 40px;
    color: #e1ad01;
    font-weight: bolder;
    text-align: justify;
    align-self: center;

    }
}

#final {
    display: none;
    border: 5px solid orangered;
    border-radius: 20%;
    font-weight: bold;
    font-size: 50px;
    color: #e1ad01;
    text-align: center;
}